<%- include partials/header.ejs %>
<h1>hello ejs</h1>
<form action="/form" method="post">
    <label>Enter name: </label>
    <input type="text" name="name" placeholder="Enter name" required>
    <input type="submit" value="OK">
</form>
<br/>
<% friendsData.forEach((n,i)=>{ %>
    <li>
        <%= n %>
        <form action="/delete/<%=i%>" method="POST" >
            <input type="submit" value="delete">
        </form>
        <form action="/update/<%=i%>" method="POST" >
            <input type="text" name="name" placeholder="update" required>
            <input type="submit" value="update">
        </form>
    </li> 
<% }) %>
<% include partials/footer.ejs %>